<div class="container">
  <div class="row my-4">
    <%= render 'homes/sidebar' %>

    <div class="col-md-8 offset-md-1">
      <h2>商品一覧</h2>
      <div class="row my-4">
        <% @items.each do |item| %>
          <div class="col-md-3">
            <%= link_to item_path(item.id) do %>
              <%= image_tag item.get_image(100,100) %>
            <% end %>
            <p><%= item.name %></p>
            <p>￥<%= item.price %></p>
          </div>
        <% end %>
      </div>
      <%= paginate @items %>
    </div>
  </div>
</div>
