<div class="container">
  <div class="row my-4">
    <%= render 'homes/sidebar' %>

    <div class="col-md-8 offset-md-1">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <%= image_tag @item.get_image(200,200) %>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
          <h3><%= @item.name %></h3>
          <p><%= @item.introduction %></p>
          <p>￥　<%= number_with_delimiter((@item.price * 1.1).round) %>(税込)</p>

          <div class="d-inline-flex">
            <%= form_with model: @cart_item, url: '/cart_items', method: :post do |f| %>
              <%= f.hidden_field :item_id, :value => @item.id %>
              <%= f.select :amount, [*(1..10)] %>
              <%= f.submit 'カートに入れる', class: 'btn btn-success' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
