<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCakeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg border-bottom">
        <div class="container">
          <a class="navbar-brand" href="/">ながのCAKE</a>
          
          <ul class="navbar-nav ml-auto">
          <% if admin_signed_in? %><%# 管理者ログイン時表示 %>
            <li class="nav-item">商品一覧</li>
            <li class="nav-item">会員一覧</li>
            <li class="nav-item">注文履歴一覧</li>
            <li class="nav-item">
              <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link' do %>
                ログアウト
              <% end %>
            </li>
          <% elsif customer_signed_in? %><%# ユーザーログイン時表示 %>
            <li class="nav-item">
              <%= link_to customers_path, class: 'nav-link' do %>
                マイページ
              <% end %>
              </li>
            <li class="nav-item">商品一覧</li>
            <li class="nav-item">カート</li>
            <li class="nav-item">
              <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link' do %>
                ログアウト
              <% end %>
            </li>
          <% else %><%# 管理者及びユーザーログイン前表示 %>
            <li class="nav-item">
              <%= link_to about_path, class: 'nav-link' do %>
                About
              <% end %>
            </li>
            <li class="nav-item">商品一覧</li>
            
            <li class="nav-item">
              <%= link_to new_customer_registration_path, class: 'nav-link' do %>
                新規登録
              <% end %>
            </li>
            
            <li class="nav-item">
              <%= link_to new_customer_session_path, class: 'nav-link' do %>
                ログイン
              <% end %>
            </li>
            
          <% end %>
          
            
          </ul>
          
        </div>
      </nav>
    </header>

    <%= yield %>

    <footer>
      <div class="border-top h-25">
      </div>
    </footer>
  </body>
</html>
